main{
    min-height: 200vh;
    .green_rectangle{
        display: block;
        margin: 0 auto;
        margin-bottom: 70px;
        width: 48px;
        height: 2px;
        background-color: #41A337
    }
}

@media screen and (max-width: 990px) {
}

