main {
  min-height: 200vh;
  .green_rectangle {
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
    width: 48px;
    height: 1.5px;
    background-color: #41a337;
  }
  .solution_text {
    font-size: 18px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 70px;
    color: #3b3e40;
  }
  .support_item {
    
    & > a {
      margin: 0 auto;
      max-width: 225px;
      color: #1890ff !important;
      text-decoration: none;
    }
  }
  .contact_us_btn{
    background: linear-gradient(#535759, #3b3e40);

  }
}

@media screen and (max-width: 770px) {
  .card1 p {
    display: none;
  }
}
