header {
  z-index: 1;
  border-bottom: 1px solid rgba(90, 90, 90, 0.373);
}
.nav-item:hover { 
  border-bottom: 1px solid rgb(19, 19, 19);
}
.logo-img {
  width: 180px;
  height: 30px;
}
.navbar_img {
  width: 160px;
  height: 160px;
}
.contact_btn {
  color: black !important;
  background-color: rgb(0, 0, 0, 0.04) !important;
  &:hover {
    background-color: rgba(0, 0, 0, 0.133) !important;
  }
}
.my_dropdown {
  & > div {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 51px;
    display: none;
    width: 100vw;
    padding: 30px;
    // background-color: rgb(132, 132, 132);
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(187, 187, 187);

    & > ul {
      max-width: 1200px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      & > li {
        max-width: 368px;
        margin-bottom: 15px;
        border-right: 2px solid rgba(180, 180, 180, 0.442);
        & > div {
          max-width: 180px;
          margin-left: 20px;
          & > h5 {
            font-size: 16px;
            margin-bottom: 10px;
          }
          & > span {
            font-size: 12px;
            text-wrap: wrap;
          }
          .navbar_p {
            font-size: 14px;
            padding: 0 !important;
            margin: 4px 0;
          }
        }
      }
    }
  }
  &:hover {
    & > div {
      display: block;
    }
  }
}

.support_dropdown {
  & > ul {
    right: -90%;
    text-align: center;
    border-radius: 0;
    & > li > a {
      padding: 14px 30px !important;
      font-size: 12px;
    }
  }
  &:hover {
    & > ul {
      display: block;
    }
  }
}

@media screen and (max-width: 990px) {
  header{
    position: fixed;
    width: 100vw;
    top: 0;
  }
  .hamburger_menu {
    margin-top: 10px;
    min-height: 80vh;
    & > li > a {
      padding: 14px 0;
      border-bottom: 1px solid rgba(181, 181, 181, 0.653);
    }
  }

  .my_dropdown {
    &:hover {
      border-bottom: 1px solid rgba(181, 181, 181, 0.653);
    }
    & > div {
      position: static;
      width: 75%;
      padding: 5px 0;
      border-top: none;

      & > ul {
        max-width: 1200px;
        margin: 0px;
        display: flex;
        & > li {
          margin: 7px 0;
          border-right: none;
          & > div {
            max-width: 100%;
            margin-left: 0px;
            & > h5 {
              font-size: 15px;
            }
            & > span {
              display: none;
            }
            .navbar_p {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  .contact_btn {
    margin-bottom: 20px;
    width: 100%;
    padding: 14px !important;
    background: linear-gradient(#535759, #3b3e40);
    color: rgb(252, 252, 252) !important;
  }
  .navbar_img {
    display: none;
  }
  .lang {
    position: absolute;
    top: 10px;
    right: 17%;
  }
}
